@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.pozadina{
  background-image: url("../../public/4.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.crvena-poz{
  background-color: #B14343;
}
.zelena-poz{
  background-color: #5A6D4E ;
}

.ukras{
  height: 50px;
  width: 500px;
  /* width: auto; */
}